@charset "UTF-8";
.cu.chat {
  font-family: "SF Pro TC","SF Pro Text","SF Pro Icons","PingFang TC","Helvetica Neue","Helvetica","Arial","Microsoft JhengHei",wf_SegoeUI,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,微軟正黑體,"LiHei Pro","WenQuanYi Micro Hei","Droid Sans Fallback","AR PL UMing TW",Roboto,"Helvetica Neue","Hiragino Maru Gothic ProN",メイリオ,"ヒラギノ丸ゴ ProN W4",Meiryo,"Droid Sans",sans-serif;
  width: 100%;
  display: block;
  padding: .5em 0;
  font-size: 16px;
  background-attachment: fixed;
  background-size: cover;
  clear: both;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  line-height: 1;
}

.cu.chat p {
  line-height: 1.4em;
  margin: 0;
}

.cu.chat * {
  clear: both;
}

.cu.chat divider {
  padding: 0.281rem 0.781rem;
  border-radius: 0.781em;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 0.5em auto;
  display: block;
  width: auto;
  display: table;
}

.cu.chat .message {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 0 0 0.5em;
}

.cu.chat .message:first-child {
  margin-top: 0px;
}

.cu.chat .message.right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin: 0 0.5em 0 auto;
}

.cu.chat .message > .content img, .cu.chat .message > .content video, .cu.chat .message > .content iframe {
  width: 450px;
  vertical-align: top;
}

.cu.chat .message > .content video, .cu.chat .message > .content iframe {
  min-height: 250px;
}

.cu.chat .message > .avatar {
  position: relative;
  margin: 0 0.313em 0 0;
}

.cu.chat .message > .avatar[data-initial]::before {
  display: block;
  color: #fff;
  content: attr(data-initial);
  z-index: 1;
  text-align: center;
  background: #5755d9;
}

.cu.chat .message > .avatar > img {
  width: 2.5em;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.cu.chat .message > .content {
  width: auto;
  max-width: 450px;
  border-radius: 0.313em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  display: table;
}

.cu.chat .message > .content .meta {
  text-align: right;
  padding: 0 0.500em 0.188em 0.500em;
}

.cu.chat .message > .content .meta .item {
  display: inline-block;
  color: #a0accf;
}

/*  RWD  */
@media (max-width: 768px) {
  .cu.chat .message > .content {
    max-width: 80vw;
  }
  .cu.chat .message img, .cu.chat .message video, .cu.chat .message iframe {
    max-width: 100%;
    width: 450px;
  }
  .cu.chat .message img video, .cu.chat .message img iframe, .cu.chat .message video video, .cu.chat .message video iframe, .cu.chat .message iframe video, .cu.chat .message iframe iframe {
    min-height: 200px;
  }
  .cu.chat .message > .avatar > img {
    width: 30px;
  }
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?psgnhf");
  src: url("../fonts/icomoon.eot?psgnhf#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?psgnhf") format("truetype"), url("../fonts/icomoon.woff?psgnhf") format("woff"), url("../fonts/icomoon.svg?psgnhf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-readRound:before {
  content: "\1f31a";
}

.icon-sentRound:before {
  content: "\e901";
}

.icon-read:before {
  content: "\e902";
}

.icon-sent:before {
  content: "\e903";
}

.cu.chat[data-style="telegram"].sticky > divider {
  top: .4em;
  position: -webkit-sticky;
  position: sticky;
}

.cu.chat[data-style="telegram"] .message {
  padding-top: 8px;
}

.cu.chat[data-style="telegram"] .message.right:not(.read) > .content > .meta > .item:last-child:after {
  font-family: 'icomoon' !important;
  content: " \e903";
}

.cu.chat[data-style="telegram"] .message.right.read > .content > .meta > .item:last-child:after {
  font-family: 'icomoon' !important;
  content: " \e902";
}

.cu.chat[data-style="telegram"] .message.only > .content {
  overflow: hidden;
  padding-top: 0;
}

.cu.chat[data-style="telegram"] .message.only > .content > .meta {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0.313em;
  padding: 0.188em 0.375em;
  border-radius: .5em;
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.cu.chat[data-style="telegram"] .message.only > .content > .meta > .item.item {
  color: #FFF;
}

.cu.chat[data-style="telegram"] .message.only > .content:hover > .meta {
  opacity: 1;
}

.cu.chat[data-style="telegram"] .message.only > .content > img, .cu.chat[data-style="telegram"] .message.only > .content > iframe, .cu.chat[data-style="telegram"] .message.only > .content > video {
  border-radius: .5em;
}

.cu.chat[data-style="telegram"] .message.img > .content > .author, .cu.chat[data-style="telegram"] .message.iframe > .content > .author, .cu.chat[data-style="telegram"] .message.video > .content > .author {
  padding-bottom: 0.313em;
}

.cu.chat[data-style="telegram"] .message.img > .content > .text, .cu.chat[data-style="telegram"] .message.iframe > .content > .text, .cu.chat[data-style="telegram"] .message.video > .content > .text {
  padding-top: 0.625em;
}

.cu.chat[data-style="telegram"] .message.img > .content > img, .cu.chat[data-style="telegram"] .message.img > .content > iframe, .cu.chat[data-style="telegram"] .message.img > .content > video, .cu.chat[data-style="telegram"] .message.iframe > .content > img, .cu.chat[data-style="telegram"] .message.iframe > .content > iframe, .cu.chat[data-style="telegram"] .message.iframe > .content > video, .cu.chat[data-style="telegram"] .message.video > .content > img, .cu.chat[data-style="telegram"] .message.video > .content > iframe, .cu.chat[data-style="telegram"] .message.video > .content > video {
  border-radius: 0;
}

.cu.chat[data-style="telegram"] .message > .avatar[data-initial]::before {
  border-radius: 100%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.cu.chat[data-style="telegram"] .message > .avatar > img {
  border-radius: 100%;
}

.cu.chat[data-style="telegram"] .message > .content {
  padding-top: 0.625em;
  background-color: #fff;
  border-radius: 0.5em;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.cu.chat[data-style="telegram"] .message > .content > .author {
  padding-left: 0.750em;
  padding-right: 0.750em;
}

.cu.chat[data-style="telegram"] .message > .content > .text {
  line-height: 1.12em;
  padding-left: 0.750em;
  padding-right: 0.750em;
}

.cu.chat[data-style="telegram"] .message > .content > .text > *:last-child:after {
  content: '';
  width: 3em;
  height: 1em;
  display: inline-block;
}

.cu.chat[data-style="telegram"] .message > .content > .text a {
  color: #1790d3;
  text-decoration: none;
}

.cu.chat[data-style="telegram"] .message > .content > .text a:hover {
  text-decoration: underline;
}

.cu.chat[data-style="telegram"] .message > .content > .reply {
  border-left: 0.125em solid #37a1de;
  padding-left: 0.625em;
  margin: 0 0.750em 0.313em 0.750em;
  line-height: 1.22em;
}

.cu.chat[data-style="telegram"] .message > .content > .reply > .author {
  color: #37a1de;
}

.cu.chat[data-style="telegram"] .message > .content > .preview {
  border-left: 0.125em solid #37a1de;
  padding-left: 0.625em;
  margin: 0.313em 0.750em 0.313em 0.750em;
  line-height: 1.22em;
}

.cu.chat[data-style="telegram"] .message > .content > .preview > .title {
  color: #37a1de;
  font-weight: bold;
}

.cu.chat[data-style="telegram"] .message > .content > .preview > .header {
  font-weight: bold;
}

.cu.chat[data-style="telegram"] .message > .content > .preview > img {
  width: 100%;
  margin-top: .2em;
}

.cu.chat[data-style="telegram"] .message > .content > .author + .reply {
  margin: 0.625em 0.750em 0.313em 0.750em;
}

.cu.chat[data-style="telegram"] .message > .content > .meta {
  margin-top: -.9em;
  margin-bottom: .2em;
}

.cu.chat[data-style="telegram"] .message > .content > .meta > .item {
  font-size: .9em;
  color: #d1d1d1;
}

.cu.chat[data-style="telegram"] .message > .content > .preview + .meta {
  margin-top: .2em;
}

.cu.chat[data-style="telegram"] .message.right > .avatar {
  display: none;
}

.cu.chat[data-style="telegram"] .message.right > .content {
  background-color: #effdde;
}

.cu.chat[data-style="telegram"] .message.right > .content > .author {
  display: none;
}

.cu.chat[data-style="telegram"] .message.right > .content > .meta > .item {
  color: #78c67f;
}

.cu.chat[data-style="telegram"] .message.right > .content > .text > *:last-child:after {
  width: 3.75em;
}

.cu.chat[data-style="telegram"] .message.right > .content > .reply {
  margin: 0 0.750em 0.313em 0.750em;
  border-left: 0.125em solid #5dc452;
}

.cu.chat[data-style="telegram"] .message.right > .content > .reply > .author {
  color: #5dc452;
}

.cu.chat[data-style="telegram"] .message.right > .content > .preview {
  border-left: 0.125em solid #5dc452;
}

.cu.chat[data-style="telegram"] .message.right > .content > .preview > .title {
  color: #5dc452;
}

.cu.chat[data-style="telegram"] .message-group .message:nth-child(n+2) > .avatar {
  opacity: 0;
}

.cu.chat[data-style="telegram"] .message-group .message:nth-child(n+2) > .content > .author {
  display: none;
}

.cu.chat[data-style="messenger"] > divider {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  font-size: 0.813em;
}

.cu.chat[data-style="messenger"] .message {
  margin-top: 1em;
}

.cu.chat[data-style="messenger"] .message > .avatar {
  margin-top: 1em;
}

.cu.chat[data-style="messenger"] .message > .avatar[data-initial]::before {
  border-radius: 100%;
  width: 1.750em;
  height: 1.750em;
  line-height: 1.750em;
}

.cu.chat[data-style="messenger"] .message > .avatar > img {
  width: 1.750em;
  border-radius: 100%;
}

.cu.chat[data-style="messenger"] .message > .content > .reply, .cu.chat[data-style="messenger"] .message > .content > .meta {
  display: none;
}

.cu.chat[data-style="messenger"] .message > .content > .author {
  margin-left: .8em;
  font-size: 0.875em;
  color: #90949c;
}

.cu.chat[data-style="messenger"] .message > .content > .text {
  background: #f1f0f0;
  border-radius: 1.219em;
  padding: 0.375em 0.844em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 450px;
}

.cu.chat[data-style="messenger"] .message > .content > img, .cu.chat[data-style="messenger"] .message > .content > iframe, .cu.chat[data-style="messenger"] .message > .content > video {
  border-radius: 1.219em;
  border-bottom-left-radius: 0.25em;
}

.cu.chat[data-style="messenger"] .message > .content > img + .text, .cu.chat[data-style="messenger"] .message > .content > iframe + .text, .cu.chat[data-style="messenger"] .message > .content > video + .text {
  margin-top: 0.2em;
  border-top-left-radius: 0.25em;
}

.cu.chat[data-style="messenger"] .message > .content.preview {
  background: #000;
}

.cu.chat[data-style="messenger"] .message > .content > .preview {
  margin-top: 0.2em;
  border: 1px solid #eee;
  border-radius: 1.219em;
  border-top-left-radius: .25em;
  border-top-right-radius: 1.219em;
  overflow: hidden;
  padding-bottom: .4em;
}

.cu.chat[data-style="messenger"] .message > .content > .preview > img {
  max-width: 450px;
  padding-bottom: .4em;
}

.cu.chat[data-style="messenger"] .message > .content > .preview > .title, .cu.chat[data-style="messenger"] .message > .content > .preview > .header {
  font-weight: bold;
}

.cu.chat[data-style="messenger"] .message > .content > .preview > .title, .cu.chat[data-style="messenger"] .message > .content > .preview > .header, .cu.chat[data-style="messenger"] .message > .content > .preview > .description, .cu.chat[data-style="messenger"] .message > .content > .preview > .domain {
  padding-left: .4em;
  line-height: 1.22em;
}

.cu.chat[data-style="messenger"] .message > .content > .preview > .domain {
  color: rgba(0, 0, 0, 0.4);
}

.cu.chat[data-style="messenger"] .message.only > .content img, .cu.chat[data-style="messenger"] .message.only > .content iframe, .cu.chat[data-style="messenger"] .message.only > .content video {
  border-radius: 1.219em;
}

.cu.chat[data-style="messenger"] .message.right > .avatar {
  display: none;
}

.cu.chat[data-style="messenger"] .message.right > .content > .author {
  display: none;
}

.cu.chat[data-style="messenger"] .message.right > .content > .text {
  margin: 0 0 0 auto;
  color: #FFF;
  background: #0084ff;
}

.cu.chat[data-style="messenger"] .message.right > .content > .text a {
  color: #FFF;
}

.cu.chat[data-style="messenger"] .message-group .message {
  margin-top: 0.2em;
}

.cu.chat[data-style="messenger"] .message-group .message:nth-child(n+2) > .avatar {
  opacity: 0;
  margin-top: 0;
}

.cu.chat[data-style="messenger"] .message-group .message:nth-child(n+2) > .content > .author {
  display: none;
}

.cu.chat[data-style="messenger"] .message-group .message > .content > .text, .cu.chat[data-style="messenger"] .message-group .message > .content > img, .cu.chat[data-style="messenger"] .message-group .message > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message > .content > video, .cu.chat[data-style="messenger"] .message-group .message > .content > .preview {
  border-radius: 0.25em 1.219em 1.219em 0.25em !important;
}

.cu.chat[data-style="messenger"] .message-group .message:first-child:not(.img):not(.iframe):not(.video):not(.preview) > .content > .text {
  border-radius: 1.219em  1.219em 1.219em 0.25em !important;
}

.cu.chat[data-style="messenger"] .message-group .message:last-child:not(.img):not(.iframe):not(.video):not(.preview) > .content > .text {
  border-radius: 0.25em  1.219em 1.219em 1.219em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.img:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.img:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.img:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.img:first-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.iframe:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.iframe:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.iframe:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.iframe:first-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.video:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.video:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.video:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.video:first-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.preview:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.preview:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.preview:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.preview:first-child > .content > .preview {
  border-radius: 1.219em 1.219em 1.219em 0.25em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.img:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.img:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.img:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.img:last-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.iframe:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.iframe:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.iframe:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.iframe:last-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.video:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.video:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.video:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.video:last-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.preview:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.preview:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.preview:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.preview:last-child > .content > .preview {
  border-radius: 0.25em  1.219em 1.219em 1.219em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.right > .content > .text, .cu.chat[data-style="messenger"] .message-group .message.right > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right > .content > video {
  border-radius: 1.219em 0.25em 0.25em 1.219em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.right:nth-child(n+2) > .avatar {
  opacity: 0;
}

.cu.chat[data-style="messenger"] .message-group .message.right:nth-child(n+2) > .content > .author {
  display: none;
}

.cu.chat[data-style="messenger"] .message-group .message.right:first-child:not(.img):not(.iframe):not(.video):not(.preview) > .content > .text {
  border-radius: 1.219em 1.219em 0.25em 1.219em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.right:last-child:not(.img):not(.iframe):not(.video):not(.preview) > .content > .text {
  border-radius: 1.219em 0.25em 1.219em 1.219em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.right.img:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.img:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.img:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.img:first-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:first-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.right.video:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.video:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.video:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.video:first-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.right.preview:first-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.preview:first-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.preview:first-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.preview:first-child > .content > .preview {
  border-radius: 1.219em 1.219em 0.25em 1.219em !important;
}

.cu.chat[data-style="messenger"] .message-group .message.right.img:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.img:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.img:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.img:last-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.iframe:last-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.right.video:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.video:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.video:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.video:last-child > .content > .preview, .cu.chat[data-style="messenger"] .message-group .message.right.preview:last-child > .content > img, .cu.chat[data-style="messenger"] .message-group .message.right.preview:last-child > .content > iframe, .cu.chat[data-style="messenger"] .message-group .message.right.preview:last-child > .content > video, .cu.chat[data-style="messenger"] .message-group .message.right.preview:last-child > .content > .preview {
  border-radius: 1.219em 0.25em 1.219em 1.219em !important;
}

/*  RWD  */
@media (max-width: 768px) {
  .cu.chat[data-style="messenger"] .message > .content > .text, .cu.chat[data-style="messenger"] .message > .content > .preview > img {
    max-width: 80vw;
  }
}

/*# sourceMappingURL=ChatUI.css.map */