chat.cu
    width: 100%
    background-color: #dedede
    display: block
    padding: 8px 0
    background-attachment: fixed
    background-size: cover
    clear: both
    & p
        line-height: 1.18em
        margin: 0
    &>*
        clear: both
    &>divider
        padding: 4.5px 12.5px
        border-radius: 12.5px
        background-color: rgba(0, 0, 0, .3)
        color: #fff
        margin: 8px auto
        display: block
        width: auto
        display: table
        max-width: 430px
    &>message
        display: flex
        margin: 0 0 0 8px
        padding-top: 8px
        &:first-child
            margin-top: 0px
        &.right
            flex-direction: row-reverse
            margin: 0 8px 0 0
        &.img
            &>.content
                &>img
                    width: 450px
        &>.avatar
            position: relative
            margin: 0 5px 0 0
            &>img
                width: 40px
                border-radius: 5px
        &>.content
            background-color: #fff
            width: auto
            max-width: 450px
            border-radius: 5px
            flex-direction: column
            flex: 1
            position: relative
            display: table
            &>.reply
                border-left: 2px solid #37a1de
                margin-left: 8px
                padding-left: 2px
            &>.meta
                text-align: right
                padding: 0 8px
                &>.item
                    display: inline-block
                    color: #a0accf
/*  RWD  */
@media(max-width: 768px)
    chat.cu
        &>message
            &.img
                &>.content
                    max-width: 60vw
                    &>img
                        width: 450px
                        max-width: 100%
            &>.avatar
                &>img
                    width: 25px
                    border-radius: 3px
