.cu.chat[data-style="telegram"]
    // css var
    --message-only-meta-bg: rgba(0, 0, 0, 0.3)
    --message-only-meta-color: #FFF
    --message-bg: #fff
    --message-link-color: rgb(23,144,211)
    --message-meta-color: #d1d1d1
    --message-border-color: #37a1de
    --message-shadow-color: rgba(0, 0, 0, 0.15)
    // right
    --right-message-bg: #effdde
    --right-message-color: #000
    --right-message-meta-color: #78c67f
    --right-message-border-color: rgb(93,196,82)
    // TODO: JS 分隔線
    &.sticky>divider
        top: .4em
        position: sticky
    & .message
        padding-top: 8px
        &.right:not(.read)
            >.content>.meta>.item:last-child:after
                font-family: 'icomoon' !important
                content: " \e903" //前面要有空格不然會跟時間擠一起
        &.right.read
            >.content>.meta>.item:last-child:after
                font-family: 'icomoon' !important
                content: " \e902" //前面要有空格不然會跟時間擠一起

        &.only
            >.content
                overflow: hidden
                padding-top: 0
                >.meta
                    position: absolute
                    bottom: 0
                    right: 0
                    background-color: var(--message-only-meta-bg)
                    margin: 0.313em
                    padding: 0.188em 0.375em
                    border-radius: .5em
                    opacity: 0
                    transition: 0.1s
                    &>.item.item
                        color: var(--message-only-meta-color)
                &:hover
                    &>.meta
                        opacity: 1
                >img,>iframe,>video
                    border-radius: .5em
        &.img,&.iframe,&.video
            >.content
                >.author
                    padding-bottom: 0.313em
                >.text
                    padding-top: 0.625em
                >img,>iframe,>video
                    border-radius: 0
        >.avatar
            &[data-initial]::before
                border-radius: 100%
                width: var(--avatar-size)
                height: var(--avatar-size)
                line-height: var(--avatar-size)
            >img
                border-radius: 100%
        >.content
            padding-top: 0.625em
            background-color: var(--message-bg)
            border-radius: 0.5em
            box-shadow: 0px 1px 1px var(--message-shadow-color)
            >.author
                padding-left: 0.750em
                padding-right: 0.750em
            >.text
                line-height: 1.12em
                padding-left: 0.750em
                padding-right: 0.750em
                >*:last-child:after
                    content: ''
                    width: 3em
                    height: 1em
                    display: inline-block
                a
                    color: var(--message-link-color)
                    text-decoration: none
                    &:hover
                        text-decoration: underline
            >.reply
                border-left: 0.125em solid var(--message-border-color)
                padding-left: 0.625em
                margin: 0 0.750em 0.313em 0.750em
                line-height: 1.22em
                >.author
                    color: var(--message-border-color)
            >*:nth-last-child(2).reply
                >.content>.text:after
                    content: ''
                    width: 3em
                    height: 1em
                    display: inline-block
            >*+.reply
                margin: 0.625em 0.750em 0.313em 0.750em
            >.preview
                border-left: 0.125em solid var(--message-border-color)
                padding-left: 0.625em
                margin: 0.313em 0.750em 0.313em 0.750em
                line-height: 1.22em
                >.title
                    color: var(--message-border-color)
                    font-weight: bold
                >.header
                    font-weight: bold
                >img
                    width: 100%
                    margin-top: .2em
            >.meta
                margin-top: -.9em
                margin-bottom: .2em
                &>.item
                    font-size: .9em
                    color: var(--message-meta-color)
            >.preview+.meta
                margin-top: .2em
        // 右側訊息
        &.right
            >.avatar
                display: none
            >.content
                background-color: var(--right-message-bg)
                color: var(--right-message-color)
                >.author
                    display: none
                >.meta
                    &>.item
                        color: var(--right-message-meta-color)

                >.text>*:last-child:after
                        width: 3.75em
                >.reply
                    margin: 0 0.750em 0.313em 0.750em
                    border-left: 0.125em solid var(--right-message-border-color)
                    &>.author
                        color: var(--right-message-border-color)
                >.preview
                    border-left: 0.125em solid var(--right-message-border-color)
                    >.title
                        color: var(--right-message-border-color)
        // 貼圖訊息
        &.sticker>.content
            background: transparent
            box-shadow: none
            --message-border-color: #ffffff
            --right-message-border-color: #ffffff
            .reply
                padding: 0.313em 0.750em 0.313em 0.750em
                border-left: none
                border-radius: 0.5em
                width: max-content
                color: var(--message-only-meta-color) 
                background-color: var(--message-only-meta-bg)
                .author,.content
                    border-left: 0.125em solid var(--message-border-color)
                    padding-left: 0.313em
                .content>.text:after
                    display: none
    .message-group
        .message
            &:nth-child(n+2)
                >.avatar
                    opacity: 0
                >.content
                    >.author
                        display: none