chat.cu[data-style="telegram"]
    width: 100%
    background-color: #dedede
    display: block
    padding: 0.500em 0
    background-attachment: fixed
    background-size: cover
    & message
        &.right:not(.read)
            &>.content>.meta>.item:last-child:after
                font-family: 'icomoon' !important
                content: " \e903"
        &.right.read
            &>.content>.meta>.item:last-child:after
                font-family: 'icomoon' !important
                content: " \e902"

        &.only
            &>.content
                padding-top: 0
                &>.meta
                    position: absolute
                    bottom: 0
                    right: 0
                    background-color: rgba(0, 0, 0, 0.3)
                    margin: 0.313em
                    padding: 0.188em 0.375em
                    border-radius: .5em
                    opacity: 0
                    transition: 0.1s
                    &>.item.item
                        color: #FFF
                &:hover
                    &>.meta
                        opacity: 1
                &>img,iframe,video
                    border-radius: .5em
        &.img,&.iframe,&.video
            &>.content
                &>.author
                    padding-bottom: 0.313em
                &>.text
                    padding-top: 0.625em
        &>.avatar
            &>img
                border-radius: 100%
        &>.content
            padding-top: 0.625em
            background-color: #fff
            border-radius: 0.5em
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15)
            &>.author
                padding-left: 0.750em
                padding-right: 0.750em
            &>.text
                line-height: 1.12em
                padding-left: 0.750em
                padding-right: 3.250em
                & a
                    color: rgb(23,144,211)
                    text-decoration: none
                    &:hover
                        text-decoration: underline
            &>.reply
                border-left: 0.125em solid #37a1de
                padding-left: 0.625em
                margin: 0 0.750em 0.313em 0.750em
                line-height: 1.22em
                &>.author
                    color: #37a1de
            &>.perview
                border-left: 0.125em solid #37a1de
                padding-left: 0.625em
                margin: 0.313em 0.750em 0.313em 0.750em
                line-height: 1.22em
                &>.title
                    color: #37a1de
                    font-weight: bold
                &>.header
                    font-weight: bold
                &>img
                    width: 100%
                    margin-top: .2em
            &>.author+.reply
                margin: 0.625em 0.750em 0.313em 0.750em
            &>.meta
                float: right
                margin-top: -.9em
                margin-bottom: .2em
                &>.item
                    font-size: .9em
                    color: #d1d1d1
            &>.perview+.meta
                margin-top: .2em
        // 右側訊息
        &.right
            &>.avatar
                display: none
            &>.content
                background-color: #effdde
                &>.author
                    display: none
                &>.text
                    padding-right: 4.5em
                &>.meta
                    &>.item
                        color: #78c67f
                &>.reply
                    border-left: 0.125em solid rgb(93,196,82)
                    &>.author
                        color: rgb(93,196,82)
                &>.perview
                    border-left: 0.125em solid rgb(93,196,82)
                    &>.title
                        color: rgb(93,196,82)
    & message-group
        & message
            &:nth-child(n+2)
                &>.avatar
                    opacity: 0
                &>.content
                    &>.author
                        display: none


