html
    head
        link(href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css', rel='stylesheet')
        link(href='../css/ChatUI.css', rel='stylesheet')
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Test Page
    body
        chat.cu(data-style='telegram',style='background-image:url(https://i.snag.gy/wLROud.jpg)')
            //- 讀取器
            loading.active
            //- 分隔線
            divider 10 May
            //- 左側文字訊息
            message.text
                .avatar
                    img(src='https://i.imgur.com/6oTWGHZ.png')
                .content
                    .author 熊貓貓
                    .text 
                        p 這是三小
                    .meta
                        .item 15:30
            //- 左側文字訊息
            message.text
                .avatar
                    img(src='https://i.imgur.com/6oTWGHZ.png')
                .content
                    .author 熊貓貓
                    .reply
                        .author 藍色小狐狸
                        .content
                            .text 我想吃雞排////
                    .text 
                        p 這是偶去美國拍的欸片
                        p 這是第二行
                    .meta
                        .item 15:30
            //- 右側圖片訊息
            message.img.right 
                .avatar
                    img(src='https://i.imgur.com/6oTWGHZ.png')
                .content
                    .author 熊貓貓
                    img(src='https://i.imgur.com/VJJ0zYN.gif')
                    .text 這是偶去美國拍的欸片
                    .meta
                        .item 15:30
                        .item read
            //- 左側文字訊息
            message.img 
                .avatar
                    img(src='https://i.imgur.com/6oTWGHZ.png')
                .content
                    .author 熊貓貓
                    img(src='https://i.imgur.com/ENHhwcQ.jpg')
                    .text 這是偶去美國拍的欸片
                    .meta
                        .item 15:30
            //- 只發一張圖
            message.img.only
                .avatar
                    img(src='https://i.imgur.com/6oTWGHZ.png')
                .content
                    img(src='https://i.imgur.com/ENHhwcQ.jpg')
                    .meta
                        .item 15:30
            divider 11 May

