html
    head
    body
        chat.cu(data-style='telegram')
            //- 讀取器
            loading.active
            //- 左側文字訊息
            message.text
                .author 熊貓貓
                .avatar
                    img
                .content
                    p 這是偶去美國拍的欸片
                    .meta
                        .item 15:30
            //- 右側圖片訊息
            message.img.right 
                .author 熊貓貓
                .avatar
                    img
                .content
                    img
                    p 這是偶去美國拍的欸片
            divider 11 May

